<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>

<h2>i18n</h2>
<p>{{ _('Hello {name}', {name: 'JST'}) }}</p>
<p>{{ _n('There is a car', 'There are {n} cars', 1) }}</p>
<p>{{ _n('There is a car', 'There are {n} cars', 3) }}</p>
