<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ it.title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    {{ it.body }}

    {{ it.partial('footer') }}
  </body>
</html>
